.container {
  /* padding: 0 2rem; */
}
.button{
    width: 166.12px;
    height: 62.65px;
    background: #F2994A;
    border-radius: 31.544px;
    font-weight: 500;
    font-size: 21px;
    color: white;
}
.hero_section{
  background-image: url("../public/images/hero/Group\ 21.png");
    /* background-color: #cccccc; */
    /* height: 500px; */
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: contain;
}
.notify{
  background-image: url("../public/images/shapes.png");
    background-color: #d65a5a;
    height: 422px;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    margin: -10px 0px;
    display: flex;
    /* z-index: 40; */
    /* overflow: visible; */
}
.subscribe_shape{
  background-image: url("../public/images/subscribe/shape.png");
    /* background-color: #cccccc; */
    height: 422px;
    width: 50%;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}


