.container {
  /* padding: 0 2rem; */
}
.button{
    width: 166.12px;
    height: 62.65px;
    background: #F2994A;
    border-radius: 31.544px;
    font-weight: 500;
    font-size: 21px;
    color: white;
}
.hero_section{
  background-image: url("../public/images/hero/Group\ 21.png");
    /* background-color: #cccccc; */
    /* height: 500px; */
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: contain;
}


